@import './mixins';
@import './variables';

.item-detail {
  > * {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .item-recharge {
    flex: unset;
  }
}

.action-range {
  flex-basis: 100px;
  flex-direction: column;
  display: flex;
}

.item-uses {
  flex-direction: column;
  display: flex;
}

.damage-cell {
  flex-basis: 100px;
}

.to-hit-cell {
  flex-basis: 60px;
  flex-direction: column;
  display: flex;
  text-transform: uppercase;
}

.item-controls {
  text-align: center;
  flex: 0 0 2em;
}
