@import './mixins';
@import './variables';

.actions {
  .item-name {
    flex: 2;
  }

  .inventory-header {
    .item-detail {
      flex: 1;
    }
  }
}

.action-range {
  flex-basis: 100px;
  flex-direction: column;
  text-overflow: ellipsis;
}

.damage-cell {
  flex-basis: 100px;
  text-overflow: ellipsis;
}

.to-hit-cell {
  flex-basis: 100px;
  text-overflow: ellipsis;
}
